[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
sqlalchemy = "*"
alembic = "*"
databases = "*"
psycopg2 = "*"
asyncpg = "*"
fastapi-users = {version = "~=0.7.3", extras = ["sqlalchemy"]}
httpx-oauth = "*"

[dev-packages]

[requires]
python_version = "3.9"
